@font-face {
  font-family: "Monofonto";
  src: url("../fonts/monofonto\ rg.otf") format("truetype");
}

:root {
  --main-color: #fcb441;
  --secondary-color: #9e7029;
  --background-color: #1e140a;
}

body {
  font-family: "Monofonto", Consolas, "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  color: var(--main-color);
  background-color: var(--background-color);
}

#website-name {
  margin-left: 18px;
  font-size: 2.9em;
}

.section {
  max-width: 350px;
  margin: 50px 20px;
  padding: 10px 20px;
  border: var(--main-color) 3px solid;
}

/* Remove top margin for the first section */
.section:first-of-type {
  margin-top: 30px;
}

/* Remove bottom margin for the last section */
.section:last-of-type {
  margin-bottom: 10px;
}

.section-title {
  margin-top: -25px;
  margin-left: 20px;
  margin-right: 20px;
}

.section-title-container {
  background-color: var(--background-color);
  width: fit-content;
}

.derived-stat-item {
  display: flex;
  margin-left: 10px;
}

.stat-name {
  padding-right: 10px;
}

.derived-stat-item {
  background-color: var(--background-color);
}

.attribute-row {
  border: 2px solid var(--background-color);
  padding: 10px 0px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Spacing between rows */
}

.attribute-header {
  flex-grow: 1; /* Allow this element to take up available space */
  text-align: left; /* Ensure text inside this container is left-aligned */
}

.attribute-name {
  font-size: 1em;
  margin-left: 10px; /* Spacing from the checkbox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-controls {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  width: 15px; /* Adjust the size as needed */
  height: 15px;
  border: 2px solid var(--main-color); /* Red border */
  appearance: none; /* Removes the default checkbox styling */
  outline: none; /* Removes the outline when focused */
}

input[type="checkbox"]:checked {
  background-color: var(--main-color); /* Fill background when checked */
  border-color: var(--main-color);
}

input[type="checkbox"]:disabled {
  background-color: var(--background-color); /* Match background color */
  border: 2px solid var(--background-color);
}

input[type="checkbox"]:hover {
  background-color: var(--main-color);
  border: 2px solid var(--background-color);
  cursor: pointer;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
  font-family: "Monofonto", Consolas, "Courier New", Courier, monospace;
  border: none;
  text-align: center;
  color: var(--main-color);
  background-color: var(--background-color);
  font-size: 1em;
  width: 40px;
}

input[type="number"]:focus {
  background-color: var(--background-color);
  outline: none; /* Remove the default outline */
}

button {
  font-family: "Monofonto", Consolas, "Courier New", Courier, monospace;
  border: var(--main-color) 2px solid;
  width: 25px;
  height: 25px;
  color: var(--main-color);
  background-color: var(--background-color);
}

button:hover, button:active {
    background-color: var(--main-color); /* Highlight background on hover */
    color: var(--background-color); /* Text turns black */
    cursor: pointer;
}

button:disabled {
  color: var(--background-color); /* Match background color */
  background-color: var(--background-color); /* Match background color */
  border: 2px solid var(--background-color);
}

#Level-checkbox {
  display: none;
}

#level-points-counter {
  display: none;
}

#level-points-total {
  display: none;
}